*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  cursor: none;
}

html {
  --primary-color: #0a360a;
  --background-primary: #ffe4c4;
  --background-secondary: #ddc4a6;
}

body {
  background-color: #ffe4c4;
  color: var(--primary-color);
  margin: 0;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
  position: relative;
  overflow-x: hidden;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h1 a {
  text-decoration: none;
}

button {
  background: transparent;
  padding: .5rem 1rem;
  border: none;
  border-radius: 2rem;
}

img {
  border-radius: 1rem;
}

a {
  color: var(--primary-color);
  font-weight: bold;
}

.hero-img {
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 300px;
  padding: 1rem;
  background-color: var(--background-secondary);
  border-radius: 1rem;
}

.card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.card h2 {
  margin-block-end: .5em;
  line-height: 0;
}

.card p {
  flex-grow: 1;
}

.card button {
  width: 100%;
  border: 1px solid var(--primary-color);
}

.card a {
  text-decoration: none;
  color: var(--primary-color);
}

form {
  display: flex;
  gap: 1rem;
  margin-block: 3rem;
  align-items: center;
}

form label {
  font-size: 2rem;
}

.text-input {
  flex-grow: 1;
  background: none;
  border: 2px solid var(--primary-color);
  height: 3rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 3rem;
}

.cursor {
  --x: 0;
  --y: 0;
  --scale: 1;
  --width: 1.5rem;
  width: calc(var(--width) * var(--scale));
  height: calc(var(--height, var(--width)) * var(--scale));
  background-color: white;
  border-radius: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1000;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.fill-btn {
  transition: width 100ms ease-in-out, height 100ms ease-in-out, transform 100ms ease-in-out;
}
